<!DOCTYPE html>

<html>
	<head>
		<title>{{ title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/intro.css">
	</head>

	<header>
		<div class="navigation-bar">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/stage1">Stage 1:</a></li>
				<li><a href="/stage2">Stage 2:</a></li>
				<li><a href="/stage3">Stage 3:</a></li>
				<li><a href="/stage4">Stage 4:</a></li>
			</ul>
		</div>

		<div class="login-logout">

		{{ user }}
		{% if user %}
    		{{ user.nickname }}!

    		[<a href="{{ logout }}"><b>sign out</b></a>]
		{% else %}   
    		[<a href="{{ login }}"><b>sign in</b></a>]
		{% endif %}
		</div>	
	</header>

	<body>
		{% block content %}
		{% endblock %}
	</body>

	<footer>
		
	</footer>
</html>
